@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}

.cardsoon {
    display: flex;
    width: 100%;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.cardsoon__logo {
    margin-top: 50px;
}

.cardsoon_seccion-text {
    box-sizing: border-box;
    width: 55%;
    background: url(../images/bg-pattern-desktop.svg) no-repeat;
    background-size: cover;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cardsoon__tittle {
    font-size: 5em;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 85px;
    letter-spacing: 20px;
    padding-top: 100px;
    margin-bottom: 30px;
    color: hsl(0, 6%, 24%);
}

.cardsoon__tittle-colored {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}

.extracto {
    color: hsl(0, 36%, 70%);
    line-height: 30px;
    letter-spacing: 1px;
    max-width: 550px;
    margin-bottom: 50px;
    font-size: 1.1em;
}

.figure__desktop {
    width: 45%;
    height: 100vh;
    position: relative;

}

.imagen__desktop {
    position: absolute;
    background-image: url(../images/hero-desktop.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.email {
    width: 500px;
    padding: 19px;
    border-radius: 35px;
    border: solid 1px hsl(0, 36%, 70%);
    background-color: transparent;
    font-weight: 600;
    font-size: 1em;
    outline: none;
}

.email::placeholder {
    color: hsla(0, 36%, 70%, .5);
}

.error {
    background: url(../images/icon-error.svg) no-repeat scroll 400px 16px;
    border: solid 2px hsl(0, 93%, 68%);
}

#email {
    color: hsl(0, 6%, 24%);
    font-size: 1.1em;
    font-family: 'Josefin Sans', sans-serif;
}

.text-error {
    display: none;
    color: hsl(0, 93%, 68%);
    padding-left: 20px;
}

.active {
    display: block;
}

.form {
    position: relative;
    margin-bottom: 10px;
}

.botton {
    position: absolute;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: none;
    padding: 18px;
    border-radius: 35px;
    width: 100px;
    right: 0px;
    box-shadow: 0px 3px 10px 3px hsl(0, 80%, 86%);
    cursor: pointer;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*MEDIAS QUERY*/

@media (min-width:1440px) {
    .cardsoon_seccion-text {
        width: 62%;
        height: 100vh;
    }

    .figure__desktop {
        width: 38%;
    }
}

@media (max-height:850px) {
    .cardsoon__tittle {
        padding-top: 10px;
    }
}

@media(max-width:1024px) {
    .cardsoon__tittle {
        font-size: 4em;
        line-height: 70px;
        letter-spacing: 15px;
    }

    .extracto {
        max-width: 400px;
    }

    .email {
        width: 300px;
    }
}
@media(max-width:800px) {
    .cardsoon_seccion-text {
        width: 100%;
        height: 100vh;
        padding: 0px;
        margin-bottom: 100px;
    }
    .figure__desktop {
        display: none;
    }

    .cardsoon__logo {
        margin: 30px 30px;
    }
    
    .figure__mobile{
        position: relative;
        width: 375px;
        height: 250px;
    }
    .imagen__mobile{
        position: absolute;
        background: url(../images/hero-mobile.jpg);
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    .cardsoon__text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .cardsoon__tittle {
        font-size: 2.5em;
        line-height: 45px;
        letter-spacing: 15px;
        text-align: center;
        margin-bottom: 0px;
    }

    .extracto {
        box-sizing: border-box;
        max-width: 340px;
        text-align: center;
        font-size: 0.9em;
        line-height: 23px;
        letter-spacing: 0px;
        padding:  0 10px;
        margin-bottom: 30px;
    }

    .email {
        width: 270px;
        padding: 15px;
    }
    #email {
        font-size: .9em;
    }
    .botton {
        right: 30px;
        padding: 12px;
        width: 65px;
        
    }
    .form{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.9em;
    }
    .text-error {
        padding-left: 55px;
        font-size: .9em;
    }
}